<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.mybatis.Mappers.EquipoMapper">
    <resultMap type="Equipo" id="EquipoResult">
        <id property="idEquipo" column="idEquipo"/>
        <result property="nombre" column="nombre"/>
        <result property="estado" column="estado"/>
        <result property="enUso" column="enuso"/>
		<result property="idLaboratorio" column="idLaboratorio"/>
    </resultMap>

    <select id="getEquipos" resultMap="EquipoResult">
        SELECT * FROM equipo;
    </select>

	<select id="getEquipo" resultMap="EquipoResult" parameterType="int">
        SELECT *
        FROM equipo
        WHERE id=#{id};
    </select>

    <insert id="registrarEquipo" parameterType="Equipo">
        INSERT INTO equipo VALUES((select count(*)+1 from equipo),#{nombre},#{estado},#{enUso},#{idLaboratorio}) ;
    </insert>
    	
    <select id="getEquiposDisponibles" resultMap="EquipoResult">
        SELECT *
        FROM equipo
        WHERE idLaboratorio=0;
    </select>
    
    <update id="asociarEquipo">
   		UPDATE equipo SET idLaboratorio=#{ultimoID} WHERE idEquipo=#{idEquipo};
   	</update>
    <select id="getIdEquipo" resultType="int">
    	SELECT count(*) from equipo;
    </select>
    
    <update id="darBajaEquipo">
    	UPDATE equipo SET estado=#{estado} WHERE idEquipo=#{idEquipo};
    </update>
    
    <update id="desasociar">
   		UPDATE equipo SET idLaboratorio=0 WHERE idEquipo=#{idEquipo};
   	</update>

</mapper>