<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                     
<mapper namespace="edu.eci.cvds.sampleprj.mybatis.Mappers.UserMapper">

    
    <resultMap type='Usuario' id='UsuarioResult'>
        <id property='carnet' column='carnet'/>        
        <result property='nombre' column='nombre'/>
        <result property='correo' column='correo'/>
        <result property='clave' column='clave'/>
		<result property='apellido' column='apellido'/>
		<result property='cargo' column='cargo'/>
    </resultMap>
  	
  	<insert id="registrarUsuario" parameterType="map">
		INSERT INTO usuario VALUES(#{usuario.carnet},#{usuario.nombre},#{usuario.correo},#{usuario.clave},#{usuario.apellido},#{usuario.cargo});
	</insert>
	
</mapper>