*{
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    background-image: url("../img/imagenesMenu/pared.jpg");
    box-sizing: border-box;
    font-family: sans-serif;
}
/*body*/
body p1 {
    font-family: cursive;
    font-size: 5em;
    
    color: #FF5733;
    
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 10%;
  


}
.egt{
    background: orangered;
    
    width: 25%;

    margin-left: 38%;
  
}
.egt1{
    background: orangered;
   
    width: 15%;
    margin-left: 43%;
  
}

.boton{
   background:#D0D0D0;
    font-family: fantasy;
    font-size: 1.5em;
    color: black ;
    height: 30%;
    width: 100%;
    

    display: flex;
    justify-content:center;
    align-items: center;

    list-style: none;

}

