*{
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    background-image: url("pared.jpg");
    box-sizing: border-box;
    font-family: sans-serif;
}
/*body*/
body p1 {
    font-family: cursive;
    font-size: 5em;
    
    color: #FF5733;
    
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 350px;
    margin-left: 150px;


}
.egt{
    background: orangered;

    margin-left: 650px;
  
}
.egt1{
    background: orangered;
    margin-top: 10px;

    margin-left: 900px;
  
}
.fotos{
    background: black;
    margin-top: 250px;
    margin-left: 550px;
   
    
}
.foto{
    
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    
   
   
    
}
.boton{
    background: white;
    font-family: fantasy;
    font-size: 1.5em;
    color: black ;
    height: 40px;
    width: 250px;
    

    display: flex;
    justify-content:center;
    align-items: center;

    list-style: none;

}

